header{
  width:100%;
  background:#F2F2F2;
  height:30px;
  line-height: 30px;
  .leftArea{
    float:left;
    margin-left: 30px;
  }
  .rightArea{
    float:right;
    margin-right: 30px;
    li{
      list-style-type: none;
      display: inline-block;
      padding:0 8px;
      border-right: 1px solid #ccc;
    }
  }
}
a{
  color:#000;
  &:hover{
    text-decoration: none;
    color:#f00;
  }
}
.leftArea a{
  color:#0000FF;
  &:hover{
    text-decoration: none;
    color:#f00;
  }
}